<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/metadata", {
        title: "Home"
    }); %>
</head>
<body class="center-content">
    <ul>
        <% for(let directory of directories) { %>
            <li><a href="/<%= workingDirectory.slug %>/<%= directory.slug %>"><%= directory.name %></a></li>
        <% }; %>
        <% for(let file of files) { %>
            <li><%= file.name %></li>
        <% }; %>
    </ul>
</body>
</html>