<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/metadata", {
        title: "Files"
    }); %>
</head>
<body>
    <%- include("../partials/navigation"); %>

    <div class="container">
        <h1 class="mt-5">Files</h1>

        <div class="mt-4">
            <a href="/new-file?path=<%= path %>" class="btn btn-primary">New File</a>
            <a href="/new-folder?path=<%= path %>" class="btn btn-primary">New Folder</a>
            <a href="/upload?path=<%= path %>" class="btn btn-primary">Upload</a>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for(let folder of folders) { %>
                    <tr>
                        <td><%= folder %></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="show-on-table-hover">
                                <% if(path === "/") { %>
                                    <a href="/files<%= folder %>" class="btn btn-light" title="Open"><i class="bi bi-folder"></i></a>
                                <% } else { %>
                                    <a href="/files<%= path %><%= folder %>" class="btn btn-light" title="Open"><i class="bi bi-folder"></i></a>
                                <% }; %>
                            </div>
                        </td>
                    </tr>                
                <% }; %>
                <% for(let file of files) { %>
                    <tr>
                        <td><%= file.name %></td>
                        <td><%= file.size %></td>
                        <td><%= file.description %></td>
                        <td>
                            <div class="show-on-table-hover">
                                <button class="btn btn-light" title="Download"><i class="bi bi-download"></i></button>
                                <button class="btn btn-light" title="Edit"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-light" title="Delete"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>                
                <% }; %>
            </tbody>
        </table>
    </div>
</body>
</html>