<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/metadata", {
        title: "Files"
    }); %>
</head>
<body>
    <%- include("../partials/navigation"); %>

    <div class="container">
        <h1 class="mt-5">Files</h1>

        <div class="mt-4">
            <a href="/upload-file?path=<%= path %>" class="btn btn-primary">Upload File</a>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <% for(let folder of folders) { %>
                    <tr>
                        <td><a href="/files<%= path %><%= folder %>"><%= folder %></a></td>
                        <td></td>
                    </tr>                
                <% }; %>
                <% for(let file of files) { %>
                    <tr>
                        <td><a href="/file/<%= file._id %>"><%= file.name %></a></td>
                        <td><%= file.description %></td>
                    </tr>
                <% }; %>
            </tbody>
        </table>
    </div>
</body>
</html>